### Data descritpion
- **region** - *уровень федерального округа*
- region_type - *тип федерального округа*
---
- **municipality** - *уровень муниципального округа*
- municipality_type - *тип уровня муниципального округа*
---
- **settlement** - *уровень населенного пункта*
- settlement_type - *тип уровня населенного пункта*
---
- **location** - *уровень локации*
- location_type - *тип уровня локации*
---
- **street** - *уровень улицы*
- street_type - *тип уровня улицы*
---
- **house** - *уровень дома*
---
- **source** - *код источника данных об адресе 1 - ФИАС 2 - Почта России*

In [5]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
TRAIN_PATH = '../C/Datasets_RuCode_adresses_train_test/addresses-train.csv'
TEST_PATH = '../C/Datasets_RuCode_adresses_train_test/addresses-test.csv'
SAMPLE_SUB_PATH = '../C/Datasets_RuCode_adresses_train_test/addresses-sample_sub.csv'

In [6]:
#full df size
df_shape = [15337320, 13]

In [7]:
import pandas
import random

p = 0.1  #% of the lines
# keep the header, then take only 1% of lines
# if random from [0, 1] interval is greater than % the row will be skipped
df = pd.read_csv(
         TRAIN_PATH,
         header=0, 
         encoding='windows-1251', 
         skiprows = lambda i: i > 0 and random.random() > p
)

df.shape[0] / df_shape[0]

0.09996805178479683

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533242 entries, 0 to 1533241
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   address            1533242 non-null  object
 1   region             1533242 non-null  object
 2   region_type        1533242 non-null  object
 3   municipality       909104 non-null   object
 4   municipality_type  909104 non-null   object
 5   settlement         1475667 non-null  object
 6   settlement_type    1475667 non-null  object
 7   location           343808 non-null   object
 8   location_type      343808 non-null   object
 9   street             1277378 non-null  object
 10  street_type        1277378 non-null  object
 11  house              1533242 non-null  object
 12  source             1533242 non-null  int64
dtypes: int64(1), object(12)
memory usage: 152.1+ MB

In [5]:
'''for idx in range(len(df)):
    if df.iloc[idx]['address'].count(';') != 6:
        print('Not all addresses has 6 semicolons')
        break
print('All addresses has 6 semicolons!')'''

"for idx in range(len(df)):\n    if df.iloc[idx]['address'].count(';') != 6:\n        print('Not all addresses has 6 semicolons')\n        break\nprint('All addresses has 6 semicolons!')"

In [11]:
from src.utils.address_utils import make_chunks

ModuleNotFoundError: No module named 'src'

In [6]:
df[[f'chunk_{i + 1}' for i in range(7)]] = df['address'].str.split(';', expand=True)
df

,address,region,region_type,municipality,municipality_type,settlement,settlement_type,location,location_type,street,street_type,house,source,chunk_1,chunk_2,chunk_3,chunk_4,chunk_5,chunk_6,chunk_7
0,а.обл. Еврейская; ; г Биробиджан; ; переулок...,Еврейская,автономная область,NaN,NaN,Биробиджан,город,NaN,NaN,Авангардный,переулок,дом 1,2,а.обл. Еврейская,,г Биробиджан,,переулок Авангардный,дом 1,2
1,А.обл. Еврейская; ; Г Биробиджан; ; пер. Ава...,Еврейская,автономная область,NaN,NaN,Биробиджан,город,NaN,NaN,Авангардный,переулок,дом 3,2,А.обл. Еврейская,,Г Биробиджан,,пер. Авангардный,дом 3,2
2,Аобл Еврейская; ; город Биробиджан; ; переул...,Еврейская,автономная область,NaN,NaN,Биробиджан,город,NaN,NaN,Авангардный,переулок,дом 4,1,Аобл Еврейская,,город Биробиджан,,переулок Авангардный,дом 4,1
3,аобл Еврейская; ; г. Биробиджан; ; переулок ...,Еврейская,автономная область,NaN,NaN,Биробиджан,город,NaN,NaN,Алмазный,переулок,дом 4,2,аобл Еврейская,,г. Биробиджан,,переулок Алмазный,дом 4,2
4,Аобл Еврейская; ; Г. Биробиджан; ; пер-к Алм...,Еврейская,автономная область,NaN,NaN,Биробиджан,город,NaN,NaN,Алмазный,переулок,дом 5,1,Аобл Еврейская,,Г. Биробиджан,,пер-к Алмазный,дом 5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13802329,г Севастополь; ; ; тер-я СНТ Муссон; шоссе Ф...,Севастополь,город,NaN,NaN,NaN,NaN,СНТ Муссон,территория,Фиолентовское,шоссе,дом 56в/1,1,г Севастополь,,,тер-я СНТ Муссон,шоссе Фиолентовское,дом 56в/1,1
13802330,г Севастополь; ; ; ; проспект Гагарина; дом...,Севастополь,город,NaN,NaN,NaN,NaN,NaN,NaN,Гагарина,проспект,дом 11в,1,г Севастополь,,,,проспект Гагарина,дом 11в,1
13802331,город Севастополь; ; ; территория СТ Солнечн...,Севастополь,город,NaN,NaN,NaN,NaN,СТ Солнечный,территория,NaN,NaN,дом 28,1,город Севастополь,,,территория СТ Солнечный,,дом 28,1
13802332,Г. Севастополь; ; ; ; ул Неглинная; дом 2/2; 1,Севастополь,город,NaN,NaN,NaN,NaN,NaN,NaN,Неглинная,улица,дом 2/2,1,Г. Севастополь,,,,ул Неглинная,дом 2/2,1
13802333,Г. Севастополь; ; ; ; улица Генерала Провал...,Севастополь,город,NaN,NaN,NaN,NaN,NaN,NaN,Генерала Провалова,улица,дом 22,1,Г. Севастополь,,,,улица Генерала Провалова,дом 22,1

In [167]:
def printer(idx):
    print(df.iloc[idx]['address'])
    print(df.iloc[idx][1:])

In [8]:
printer(2444451)

обл. Воронежская; р-н Борисоглебский; с Махровка;  ; улица Советская; дом 25; 1
region                       Воронежская
region_type                      область
municipality              Борисоглебский
municipality_type                  район
settlement                      Махровка
settlement_type                     село
location                             NaN
location_type                        NaN
street                         Советская
street_type                        улица
house                             дом 25
source                                 1
chunk_1                 обл. Воронежская
chunk_2               р-н Борисоглебский
chunk_3                       с Махровка
chunk_4
chunk_5                  улица Советская
chunk_6                           дом 25
chunk_7                                1
Name: 2444451, dtype: object

### REGION / REGION_TYPE 
region и region_type находится в chunk_1 address

In [9]:
region_df = df[df['region'].notna()][['address', 'region', 'region_type', 'chunk_1']]

In [10]:
region_df.sample(6)

,address,region,region_type,chunk_1
11218596,обл Костромская; район Галичский; село Орехово...,Костромская,область,обл Костромская
915993,край Красноярский; ; Г Красноярск; ; ул. Лом...,Красноярский,край,край Красноярский
644245,край. Краснодарский; ; г. Новороссийск; с. Це...,Краснодарский,край,край. Краснодарский
7014830,Респ. Дагестан; ; г Хасавюрт; ; ул. Ветеран ...,Дагестан,республика,Респ. Дагестан
5079502,обл Рязанская; район Рязанский; с. Заборье; ;...,Рязанская,область,обл Рязанская
8774777,Респ. Кабардино-Балкарская; ; Г. Нальчик; ; ...,Кабардино-Балкарская,республика,Респ. Кабардино-Балкарская

In [11]:
region_types = region_df['region_type'].unique().tolist()
region_types

['автономная область',
 'автономный округ',
 'город',
 'край',
 'область',
 'республика']

In [12]:
chunk1 = df['chunk_1'].str.split(expand=True)

In [13]:
chunk1[0].apply(lambda x: x.lower()).unique()

array(['а.обл.', 'аобл', 'аокр', 'а.окр.', 'город', 'г.', 'г', 'край.',
       'край', 'обл', 'обл.', 'область', 'рес.', 'республика', 'респ.',
       'рес', 'респ'], dtype=object)

In [14]:
#Пример
import re

text1 = "А.окр. Ханты-Мансийский"
okr_pattern = "а\.?окр"

result1 = re.search(okr_pattern, text1.split()[0].lower())
print(result1.group(0))

а.окр

In [15]:
region_patterns = {'автономная область':'а\.?обл',
                   'область': 'обл\.?',
                   'автономный округ': 'а\.?окр',
                   'город': 'г',
                   'край': 'край',
                   'республика': '[рес|респ|республика]\.?'}

def region_filler(sample):
    if len(sample.lstrip()) == 0:
        return ['', '']
    temp_sample = sample.split()[0].lower()
    for region_type, pattern in region_patterns.items():
        temp_search = re.match(pattern, temp_sample)
        if temp_search:
            return [region_type, ' '.join(sample.split()[1:])]
    return ['', '']

In [16]:
reg = 'город Татарстан Улан удээээ'
region_filler(reg)

['город', 'Татарстан Улан удээээ']

In [18]:
regions = region_df['chunk_1'].progress_apply(region_filler)

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [01:02<00:00, 221081.39it/s]

In [19]:
compare_regions = pd.DataFrame(regions.tolist(), columns=['region_type', 'region'])

In [20]:
(compare_regions == region_df[['region_type', 'region']]).sum() / len(region_df)

region_type    1.0
region         1.0
dtype: float64

### MUNICIPALITY / MUNICIPALITY_TYPE

In [21]:
municipality_df = df[df['municipality'].notna()][['address', 'municipality', 'municipality_type', 'chunk_2']]

In [22]:
municipality_df.sample(6)

,address,municipality,municipality_type,chunk_2
4091115,область Новгородская; р-н. Валдайский; г Валда...,Валдайский,район,р-н. Валдайский
2444854,обл. Воронежская; район Борисоглебский; с Танц...,Борисоглебский,район,район Борисоглебский
9572960,Край. Краснодарский; р-н. Усть-Лабинский; Г Ус...,Усть-Лабинский,район,р-н. Усть-Лабинский
4529119,Обл Оренбургская; район Сорочинский; с Троицко...,Сорочинский,район,район Сорочинский
10067012,Край. Ставропольский; р-н. Изобильненский; пос...,Изобильненский,район,р-н. Изобильненский
3284592,обл. Курская; район Горшеченский; село Удобное...,Горшеченский,район,район Горшеченский

In [211]:
municipality_types = municipality_df['municipality_type'].unique().tolist()

In [212]:
municipality_types

['район',
 'город',
 'сельское поселение',
 'улус',
 'сельсовет',
 'поселок городского типа',
 'поселок',
 'сельское муницип.образование',
 'массив',
 'территория',
 'рабочий поселок',
 'село',
 'поселение']

In [213]:
municipality_dictionary

{'район': {'р-н', 'р-н.', 'район'},
 'город': {'Г', 'Г.', 'г', 'г.', 'город'},
 'сельское поселение': {'с.п.', 'с/п', 'сп'},
 'улус': {'У', 'У.', 'у', 'у.', 'улус'},
 'сельсовет': {'с/с', 'сельсовет', 'сс', 'сс.'},
 'поселок городского типа': {'пгт', 'пгт.'},
 'поселок': {'п', 'п.', 'пос', 'пос-к', 'пос.'},
 'сельское муницип.образование': {'с/мо', 'смо'},
 'массив': {'М', 'М.', 'зона', 'м', 'м-в', 'м.', 'массив'},
 'территория': {'тер', 'тер.', 'терр.'},
 'рабочий поселок': {'рп', 'рп.'},
 'село': {'с', 'с.', 'село'},
 'поселение': {'п', 'п.', 'пос', 'пос-е', 'пос.', 'поселение'}}

In [24]:
municipality_dictionary = {municipality: set() for municipality in municipality_types}
def municipality_create(sample):
    temp_type = sample['municipality_type']
    if temp_type in municipality_dictionary:
        municipality_dictionary[temp_type].update([sample['chunk_2'].split()[0]])

In [25]:
municipality_df.progress_apply(municipality_create, axis=1)

100%|█████████████████████████████████████████████████████████████████████| 8180228/8180228 [00:56<00:00, 143918.93it/s]

3538        None
3539        None
3540        None
3541        None
3542        None
            ...
13791405    None
13791406    None
13791407    None
13791408    None
13791409    None
Length: 8180228, dtype: object

In [26]:
municipality_dictionary

{'район': {'р-н', 'р-н.', 'район'},
 'город': {'Г', 'Г.', 'г', 'г.', 'город'},
 'сельское поселение': {'с.п.', 'с/п', 'сп'},
 'улус': {'У', 'У.', 'у', 'у.', 'улус'},
 'сельсовет': {'с/с', 'сельсовет', 'сс', 'сс.'},
 'поселок городского типа': {'пгт', 'пгт.'},
 'поселок': {'п', 'п.', 'пос', 'пос-к', 'пос.'},
 'сельское муницип.образование': {'с/мо', 'смо'},
 'массив': {'М', 'М.', 'зона', 'м', 'м-в', 'м.', 'массив'},
 'территория': {'тер', 'тер.', 'терр.'},
 'рабочий поселок': {'рп', 'рп.'},
 'село': {'с', 'с.', 'село'},
 'поселение': {'п', 'п.', 'пос', 'пос-е', 'пос.', 'поселение'}}

In [27]:
#Пусть будет в порядке убывания по количеству
unique_municipality_types = municipality_df['municipality_type'].value_counts().index.tolist()

In [28]:
def municipality_filler(sample):
    if len(sample.lstrip()) == 0:
        return ['', '']
    temp_sample = sample.split()[0]
    for municipality_type in unique_municipality_types:
        if municipality_type in municipality_dictionary and temp_sample in municipality_dictionary[municipality_type]:
            return [municipality_type, ' '.join(sample.split()[1:])]
    return ['', '']

In [29]:
municipality_filler('  ')

['', '']

### SETTLEMENT / SETTLEMENT_TYPE

In [30]:
settlement_df = df[df['settlement'].notna()][['address', 'settlement', 'settlement_type', 'chunk_3']]

In [31]:
settlement_df.sample(6)

,address,settlement,settlement_type,chunk_3
12124091,Обл Оренбургская; р-н Саракташский; село Черка...,Черкассы,село,село Черкассы
5250138,Обл Саратовская; ; г Ртищево; ; улица Карла ...,Ртищево,город,г Ртищево
1619909,область Архангельская; район Вельский; город В...,Вельск,город,город Вельск
12701502,Обл. Рязанская; р-н. Старожиловский; деревня Т...,Татаркино,деревня,деревня Татаркино
6475146,Обл. Челябинская; ; г. Челябинск; ; ул Севас...,Челябинск,город,г. Челябинск
3633978,Обл Московская; ; Г Люберцы; дп. Красково; ;...,Люберцы,город,Г Люберцы

In [32]:
settlement_types = settlement_df['settlement_type'].unique().tolist()

In [33]:
settlement_dictionary = {settlement: set() for settlement in settlement_types}
def settlement_create(sample):
    temp_type = sample['settlement_type']
    if temp_type in settlement_dictionary:
        settlement_dictionary[temp_type].update([sample['chunk_3'].split()[0]])

In [34]:
settlement_df.progress_apply(settlement_create, axis=1)

100%|███████████████████████████████████████████████████████████████████| 13285113/13285113 [01:34<00:00, 140878.37it/s]

0           None
1           None
2           None
3           None
4           None
            ...
13802265    None
13802269    None
13802271    None
13802300    None
13802307    None
Length: 13285113, dtype: object

In [36]:
#Пусть будет в порядке убывания по количеству
unique_settlement_types = settlement_df['settlement_type'].value_counts().index.tolist()

In [37]:
def settlement_filler(sample):
    if len(sample.lstrip()) == 0:
        return ['', '']
    temp_sample = sample.split()[0]
    for settlement_type in unique_settlement_types:
        if settlement_type in settlement_dictionary and temp_sample in settlement_dictionary[settlement_type]:
            return [settlement_type, ' '.join(sample.split()[1:])]
    return ['', '']

In [38]:
settlement_filler('д Андроново (Тимирязевский с/с)')

['деревня', 'Андроново (Тимирязевский с/с)']

### LOCATION / LOCATION_TYPE

In [50]:
#location
location_df = df[df['location'].notna()][['address', 'location', 'location_type', 'chunk_4']]
location_df.sample(4)

,address,location,location_type,chunk_4
8089228,Респ Удмуртская; район Завьяловский; ; терр С...,СТСН Агрохимик,территория,терр СТСН Агрохимик
148617,г. Москва; ; пос. Марушкинское; кв-л. 35; ; ...,35,квартал,кв-л. 35
74794,Аокр Ханты-Мансийский; р-н Советский; Г. Совет...,ТСН Микрорайон Гудок,территория,тер. ТСН Микрорайон Гудок
2844548,Обл Калужская; р-н. Жуковский; д Собакино; тер...,СНТ Ясная Поляна,территория,тер СНТ Ясная Поляна

In [41]:
#Треш) Будем искать паттерны автоматом
location_types = location_df['location_type'].unique().tolist()

In [42]:
locations_dictionary = {location: set() for location in location_types}
def locations_create(sample):
    temp_type = sample['location_type']
    if temp_type in locations_dictionary:
        locations_dictionary[temp_type].update([sample['chunk_4'].split()[0]])

In [214]:
locations_dictionary

{'территория': {'тер', 'тер-я', 'тер.', 'терр', 'терр.', 'территория'},
 'разъезд': {'разъезд', 'рзд', 'рзд.'},
 'садовое неком-е товарищество': {'снт', 'снт.'},
 'квартал': {'кв-л', 'кв-л.', 'квартал'},
 'гаражный кооператив': {'ГКООП', 'гкооп'},
 'микрорайон': {'микрорайон', 'мкр', 'мкр.'},
 'поселок': {'п', 'п.', 'пос', 'пос-к', 'пос.', 'поселок'},
 'дачный населенный пункт': {'дачный'},
 'населенный пункт': {'нп', 'нп.'},
 'поселок городского типа': {'пгт', 'пгт.'},
 'район': {'р-н', 'р-н.', 'район'},
 'промышленная зона': {'промзона', 'промышленная'},
 'остров': {'о-в', 'остров'},
 'участок': {'уч', 'уч.', 'участок'},
 'станция': {'ст', 'ст.', 'станция'},
 'сад': {'сад'},
 'промышленный район': {'п/р'},
 'поселок при станции (поселок станции)': {'п.ст', 'п.ст.'},
 'село': {'с', 'с.', 'село'},
 'платформа': {'платф', 'платф.', 'платформа'},
 'деревня': {'Д', 'Д.', 'д', 'д-ня', 'д.', 'деревня'},
 'рабочий поселок': {'рп', 'рп.'},
 'дачный поселок': {'д/п', 'дп', 'дп.'},
 'хутор': {'х', 'х.', 'хутор'},
 'площадка': {'пл-ка', 'площадка'},
 'казарма': {'к-ма', 'к-ма.', 'казарма'},
 'железнодорожная станция': {'ж/д', 'жд'},
 'станица': {'ст-ца', 'станица'},
 'жилой район': {'ж.', 'ж.р.', 'ж/р', 'ж/р.', 'жилрайон'},
 'аул': {'аул', 'аул.'},
 'железнодорожный разъезд': {'ж/д'},
 'городской поселок': {'г/п', 'гп', 'гп.'},
 'сельсовет': {'с/с', 'сельсовет', 'сс', 'сс.'},
 'абонентский ящик': {'а/я'},
 'железнодорожная будка': {'ж/д'},
 'почтовое отделение': {'п/о', 'почтовое'},
 'местечко': {'м-ко', 'м-ко.', 'м.', 'местечко'},
 'слобода': {'сл', 'сл.', 'слобода'},
 'сельское поселение': {'с.п.', 'с/п', 'сп'},
 'курортный поселок': {'к.п.', 'кп', 'кп.'},
 'местность': {'местность'},
 'территория снт': {'территория'},
 'садовое товарищество': {'садовое'},
 'территория днт': {'территория'},
 'территория тсн': {'территория'},
 'месторождение': {'м-ние', 'месторождение'},
 'территория гск': {'территория'},
 'гаражно-строительный кооп.': {'гск', 'гск.'},
 'территория сно': {'территория'},
 'территория спк': {'территория'},
 'массив': {'М', 'М.', 'зона', 'м', 'м-в', 'м.', 'массив'},
 'территория пк': {'территория'},
 'территория днп': {'территория'},
 'территория дно': {'территория'},
 'территория снп': {'территория'},
 'территория фх': {'территория'},
 'дачное неком-е партнерство': {'днп'},
 'фермерское хозяйство': {'ф/х', 'ф/х.'},
 'парк': {'парк'},
 'территория сосн': {'территория'},
 'территория онт': {'территория'},
 'усадьба': {'ус', 'усадьба'},
 'территория дпк': {'территория'},
 'набережная': {'наб', 'наб.', 'набережная'},
 'порт': {'порт'},
 'улица': {'ул', 'ул.', 'улица'},
 'дорога': {'дор', 'дор.', 'дорога'},
 'вал': {'вал'},
 'километр': {'километр', 'км', 'км.'},
 'сквер': {'сквер'},
 'некоммерческое партнерство': {'Заря', 'Квартал', 'нп', 'нп.'},
 'переулок': {'пер.'},
 'берег': {'берег'},
 'территория оно': {'территория'},
 'проезд': {'проезд'}}

In [43]:
location_df.progress_apply(locations_create, axis=1)

100%|█████████████████████████████████████████████████████████████████████| 3092979/3092979 [00:21<00:00, 142585.38it/s]

284         None
285         None
286         None
287         None
288         None
            ...
13802326    None
13802327    None
13802328    None
13802329    None
13802331    None
Length: 3092979, dtype: object

In [46]:
#Пусть будет в порядке убывания по количеству
unique_location_types = location_df['location_type'].value_counts().index.tolist()

In [47]:
def location_filler(sample):
    if len(sample.lstrip()) == 0:
        return ['', '']
    temp_sample = sample.split()[0]
    for location_type in unique_location_types:
        if location_type in locations_dictionary and temp_sample in locations_dictionary[location_type]:
            return [location_type, ' '.join(sample.split()[1:])]
    return ['', '']

In [48]:
location_filler('садовое товарищество Дон')

['садовое товарищество', 'товарищество Дон']

### STREET / STREET_TYPE

In [51]:
street_df = df[df['street'].notna()][['address', 'street', 'street_type', 'chunk_5']]
street_df.sample(4)

,address,street,street_type,chunk_5
9686201,край. Краснодарский; р-н Тбилисский; ст-ца Тби...,Совхозная,улица,ул Совхозная
4092719,Обл Новгородская; р-н Валдайский; д Долгие Бор...,Центральная,улица,ул. Центральная
9556707,край Краснодарский; район Ленинградский; ст-ца...,Российская,улица,улица Российская
8501838,рес. Башкортостан; район Шаранский; село Шаран...,Центральная,улица,улица Центральная

In [52]:
street_types = street_df['street_type'].unique().tolist()

In [53]:
street_dictionary = {street: set() for street in street_types}
def street_create(sample):
    temp_type = sample['street_type']
    if temp_type in street_dictionary:
        street_dictionary[temp_type].update([sample['chunk_5'].split()[0]])

In [54]:
street_df.progress_apply(street_create, axis=1)

100%|███████████████████████████████████████████████████████████████████| 11499576/11499576 [01:21<00:00, 141586.01it/s]

0           None
1           None
2           None
3           None
4           None
            ...
13802326    None
13802329    None
13802330    None
13802332    None
13802333    None
Length: 11499576, dtype: object

In [174]:
street_df.sample(4)

,address,street,street_type,chunk_5
1343615,край. Ставропольский; ; г Кисловодск; ; ул К...,Кисловодская,улица,ул Кисловодская
1293760,край. Приморский; ; город Уссурийск; ; улица...,Хенина,улица,улица Хенина
2119405,Обл. Владимирская; р-н. Кольчугинский; Г. Коль...,Фурманова,улица,улица Фурманова
11986113,обл. Омская; р-н. Таврический; аул. Коянбай; ...,Новая,улица,ул Новая

In [175]:
printer(8539938)

рес Башкортостан; район Буздякский; село Канлы-Туркеево;  ; ул Школьная; дом 3/1; 1
region                       Башкортостан
region_type                    республика
municipality                   Буздякский
municipality_type                   район
settlement                 Канлы-Туркеево
settlement_type                      село
location                              NaN
location_type                         NaN
street                           Школьная
street_type                         улица
house                             дом 3/1
source                                  1
chunk_1                  рес Башкортостан
chunk_2                  район Буздякский
chunk_3               село Канлы-Туркеево
chunk_4
chunk_5                       ул Школьная
chunk_6                           дом 3/1
chunk_7                                 1
Name: 8539938, dtype: object

In [182]:
street_filler(df.iloc[8539938]['chunk_5'])

['улица', 'Школьная']

In [181]:
val_set.iloc[8539938]

region_type              республика
region                 Башкортостан
municipality_type             район
municipality             Буздякский
settlement_type                село
settlement           Канлы-Туркеево
location_type
location
street_type                     NaN
street                          NaN
house                       дом 3/1
source                            1
Name: 8539938, dtype: object

In [164]:
val_set[['street', 'street_type']].sample(4)

              street street_type
900948       Луговой    переулок
8539938          NaN         NaN
3812300  Центральная       улица
215922      Полковая       улица

In [95]:
street_dictionary

{'переулок': {'пер-к', 'пер.', 'переулок'},
 'проспект': {'пр-кт', 'пр-кт.', 'проспект'},
 'улица': {'ул', 'ул.', 'улица'},
 'километр': {'километр', 'км', 'км.'},
 'переезд': {'пер-д', 'переезд'},
 'проулок': {'проул', 'проул.', 'проулок'},
 'проезд': {'пр-д', 'проезд'},
 'микрорайон': {'микрорайон', 'мкр', 'мкр.'},
 'зона': {'зона'},
 'шоссе': {'ш', 'ш.', 'шоссе'},
 'гаражный кооператив': {'ГКООП', 'гкооп'},
 'дорога': {'дор', 'дор.', 'дорога'},
 'бульвар': {'б-р', 'бульвар'},
 'аллея': {'аллея'},
 'тракт': {'тракт'},
 'парк': {'парк'},
 'ряд(ы)': {'ряд', 'ряды'},
 'заезд': {'заезд'},
 'набережная': {'наб', 'наб.', 'набережная'},
 'линия': {'линия', 'лн', 'лн.'},
 'площадь': {'пл', 'пл.', 'площадь'},
 'фермерское хозяйство': {'ф/х', 'ф/х.'},
 'ферма': {'ф', 'ф.', 'ферма'},
 'тупик': {'туп', 'туп.', 'тупик'},
 'сквер': {'сквер'},
 'просека': {'пр-ка', 'просека'},
 'вал': {'вал'},
 'коса': {'коса'},
 'спуск': {'спуск'},
 'квартал': {'кв-л', 'кв-л.', 'квартал'},
 'магистраль': {'магистраль', 'мгстр', 'мгстр.'},
 'въезд': {'въезд'},
 'проселок': {'пр-лок', 'проселок'},
 'территория': {'тер', 'тер-я', 'тер.', 'терр', 'терр.', 'территория'},
 'сад': {'сад'},
 'участок': {'уч', 'уч.', 'участок'},
 'кольцо': {'к-цо', 'кольцо'},
 'разъезд': {'разъезд', 'рзд', 'рзд.'},
 'гаражно-строительный кооп.': {'гск', 'гск.'},
 'станция': {'ст', 'ст.', 'станция'},
 'садовое неком-е товарищество': {'снт', 'снт.'},
 'местечко': {'м-ко', 'м-ко.', 'м.', 'местечко'},
 'поселок': {'п', 'п.', 'пос', 'пос-к', 'пос.', 'поселок'},
 'местность': {'местность'},
 'городок': {'г-к', 'г-к.', 'городок'},
 'железнодорожная станция': {'ж/д', 'жд'},
 'строение': {'стр', 'стр.', 'строение'},
 'животноводческая точка': {'ж.т.', 'жт'},
 'поселок и(при) станция(и)': {'п.ст.', 'п/ст', 'п/ст.'},
 'хутор': {'х', 'х.', 'хутор'},
 'остров': {'о-в', 'остров'},
 'слобода': {'сл', 'сл.', 'слобода'},
 'железнодорожная будка': {'ж/д'},
 'площадка': {'пл-ка', 'площадка'},
 'абонентский ящик': {'а/я'},
 'железнодорожный разъезд': {'ж/д'},
 'казарма': {'к-ма', 'к-ма.', 'казарма'},
 'населенный пункт': {'нп', 'нп.'},
 'деревня': {'Д', 'Д.', 'д', 'д-ня', 'д.', 'деревня'},
 'платформа': {'платф', 'платф.', 'платформа'},
 'территория снт': {'территория'},
 'почтовое отделение': {'п/о', 'почтовое'},
 'садовое товарищество': {'садовое'},
 'ж/д останов. (обгонный) пункт': {'ж/д'},
 'железнодорожная казарма': {'ж/д'},
 'железнодорожный пост': {'ж/д'},
 'село': {'с', 'с.', 'село'},
 'съезд': {'сзд.', 'съезд'},
 'промышленная зона': {'промзона', 'промышленная'},
 'взвоз': {'взв', 'взв.', 'взвоз'},
 'железнодорожная платформа': {'ж/д'}}

In [183]:
df.iloc[5925079]['chunk_5']

'  '

In [189]:
street_filler(df.iloc[5925079]['chunk_5'])

['', '']

In [190]:
unique_street_types = street_df['street_type'].value_counts().index.tolist()

In [191]:
def street_filler(sample):
    if len(sample.lstrip()) == 0:
        return ['', '']
    temp_sample = sample.split()[0]
    for street_type in unique_street_types:
        if street_type in street_dictionary and temp_sample in street_dictionary[street_type]:
            return [street_type, ' '.join(sample.split()[1:])]
    return ['', '']

In [192]:
street_filler('переулок Песчаный')

['переулок', 'Песчаный']

### HOUSE

In [59]:
house_df = df[df['house'].notna()][['address', 'house', 'chunk_6']]
house_df.sample(4)

                                                    address   house  chunk_6
2354326   Обл Воронежская;  ; Г Воронеж;  ; проспект Раб...  дом 33   дом 33
3058393   Обл Кемеровская; р-н Ленинск-Кузнецкий; д. Тре...  дом 13   дом 13
10742336  обл. Воронежская; р-н Каширский; село Олень-Ко...  дом 48   дом 48
7283345   республика Карелия; р-н Калевальский; пгт Кале...  дом 58   дом 58

In [60]:
#Очень много разных домов
a = pd.DataFrame(house_df['house'].str.split(expand=True))
len(a[0].unique().tolist())

9477

In [61]:
#Чанки полностью совпадают с house
(house_df['house'] == house_df['chunk_6'].apply(lambda x: x.lstrip())).sum() / len(house_df)

1.0

In [62]:
def house_filler(sample):
    return sample.lstrip()

In [63]:
house_filler('  дом 12/46 строение 26')

'дом 12/46 строение 26'

### SOURCE

In [64]:
source_df = df[df['source'].notna()][['address', 'source', 'chunk_7']]
source_df.sample(4)

                                                   address  source chunk_7
7156032  респ Кабардино-Балкарская; район Майский; горо...       1       1
97055    Аокр Ямало-Ненецкий;  ; Г. Ноябрьск; территори...       2       2
9568828  край Краснодарский; Г. Краснодар; х Октябрьски...       1       1
6116525  обл. Тюменская;  ; г. Тюмень;  ; тракт Старый ...       2       2

In [142]:
def source_filler(sample):
    return int(sample)

## BOOM!!!

In [66]:
df_test = pd.read_csv(TEST_PATH, encoding='windows-1251')

In [67]:
df_test[[f'chunk_{i + 1}' for i in range(7)]] = df_test['address'].str.split(';', expand=True)

In [68]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5112420 entries, 0 to 5112419
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   address  object
 1   chunk_1  object
 2   chunk_2  object
 3   chunk_3  object
 4   chunk_4  object
 5   chunk_5  object
 6   chunk_6  object
 7   chunk_7  object
dtypes: object(8)
memory usage: 312.0+ MB

In [69]:
df_test.sample(6)

,address,chunk_1,chunk_2,chunk_3,chunk_4,chunk_5,chunk_6,chunk_7
1437998,обл. Мурманская; р-н. Ловозерский; село Красно...,обл. Мурманская,р-н. Ловозерский,село Краснощелье,,ул Набережная,дом 38,1
4581997,Край Пермский; р-н Пермский; д-ня Одина; ; сн...,Край Пермский,р-н Пермский,д-ня Одина,,снт Одино,дом 2,1
3799246,Обл Белгородская; р-н. Белгородский; пгт. Разу...,Обл Белгородская,р-н. Белгородский,пгт. Разумное,,улица Садовая,дом 60,1
1419545,обл. Московская; ; г Шатура; ; б-р Мира; дом...,обл. Московская,,г Шатура,,б-р Мира,дом 30,2
3035356,рес Чеченская; ; Г. Грозный; ; ул Ашхабадска...,рес Чеченская,,Г. Грозный,,ул Ашхабадская,дом 40,1
2595253,респ Дагестан; ; город Хасавюрт; микрорайон В...,респ Дагестан,,город Хасавюрт,микрорайон Восточный,улица Коваленко П.В.,дом 47,2

In [70]:
sample_subm = pd.read_csv(SAMPLE_SUB_PATH, encoding='windows-1251')

In [71]:
sample_subm.columns

Index(['region', 'region_type', 'municipality', 'municipality_type',
       'settlement', 'settlement_type', 'location', 'location_type', 'street',
       'street_type', 'house', 'source'],
      dtype='object')

In [ ]:
78265 5083295

In [72]:
sample_subm[['region_type', 'region']] = pd.DataFrame(df_test['chunk_1'].progress_apply(region_filler).tolist(),
                                                      columns=['region_type', 'region'])

100%|█████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:25<00:00, 198512.28it/s]

In [73]:
sample_subm[['municipality_type', 'municipality']] = pd.DataFrame(df_test['chunk_2'].progress_apply(municipality_filler).tolist(),
                                                                  columns=['municipality_type', 'municipality'])

100%|█████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:10<00:00, 490988.63it/s]

In [74]:
sample_subm[['settlement_type', 'settlement']] = pd.DataFrame(df_test['chunk_3'].progress_apply(settlement_filler).tolist(),
                                                                  columns=['settlement_type', 'settlement'])

100%|█████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:11<00:00, 437870.85it/s]

In [75]:
sample_subm[['location_type', 'location']] = pd.DataFrame(df_test['chunk_4'].progress_apply(location_filler).tolist(),
                                                                  columns=['location_type', 'location'])

100%|█████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:08<00:00, 592863.34it/s]

In [76]:
sample_subm[['street_type', 'street']] = pd.DataFrame(df_test['chunk_5'].progress_apply(street_filler).tolist(),
                                                                  columns=['street_type', 'street'])

100%|█████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:14<00:00, 360099.58it/s]

In [143]:
sample_subm['house'] = df_test['chunk_6'].progress_apply(house_filler)
sample_subm['source'] = df_test['chunk_7'].progress_apply(source_filler)

100%|████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:03<00:00, 1372724.49it/s]
100%|████████████████████████████████████████████████████████████████████| 5112420/5112420 [00:04<00:00, 1203634.17it/s]

In [144]:
sample_subm.sample(5)

,region,region_type,municipality,municipality_type,settlement,settlement_type,location,location_type,street,street_type,house,source
1154570,Кировская,область,Верхнекамский,район,Кочкино,деревня,,,Верховская,улица,дом 28,2
4647574,Ростовская,область,Сальский,район,Сальск,город,,,Энергетиков,улица,дом 48,1
3008462,Хакасия,республика,,,Саяногорск,город,,,Первомайская,улица,дом 8/1,2
464136,Приморский,край,,,Владивосток,город,,,Шилкинская,улица,дом 6В,2
300176,Краснодарский,край,Гулькевичский,район,Гулькевичи,город,,,Луговая,улица,дом 13,1

In [145]:
sample_subm.to_csv('sub_second_0_90p_source.csv', index=False, encoding="windows-1251")

### Оценка на тестовой выборке

In [193]:
val_set = pd.DataFrame()

In [194]:
val_set[['region_type', 'region']] = pd.DataFrame(df['chunk_1'].progress_apply(region_filler).tolist(),
                                                      columns=['region_type', 'region'])

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [01:03<00:00, 216000.45it/s]

In [195]:
val_set[['municipality_type', 'municipality']] = pd.DataFrame(df['chunk_2'].progress_apply(municipality_filler).tolist(),
                                                                  columns=['municipality_type', 'municipality'])

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [00:26<00:00, 517753.83it/s]

In [196]:
val_set[['settlement_type', 'settlement']] = pd.DataFrame(df['chunk_3'].progress_apply(settlement_filler).tolist(),
                                                                  columns=['settlement_type', 'settlement'])

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [00:30<00:00, 450031.48it/s]

In [197]:
val_set[['location_type', 'location']] = pd.DataFrame(df['chunk_4'].progress_apply(location_filler).tolist(),
                                                                  columns=['location_type', 'location'])

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [00:25<00:00, 533228.00it/s]

In [199]:
val_set[['street_type', 'street']] = pd.DataFrame(df['chunk_5'].progress_apply(street_filler).tolist(),
                                                                  columns=['street_type', 'street'])

100%|███████████████████████████████████████████████████████████████████| 13802334/13802334 [00:32<00:00, 424284.68it/s]

In [200]:
val_set['house'] = df['chunk_6'].progress_apply(house_filler)
val_set['source'] = df['chunk_7'].progress_apply(source_filler)

100%|██████████████████████████████████████████████████████████████████| 13802334/13802334 [00:08<00:00, 1540973.13it/s]
100%|██████████████████████████████████████████████████████████████████| 13802334/13802334 [00:10<00:00, 1301507.40it/s]

In [201]:
val_set.iloc[8539938]

region_type              республика
region                 Башкортостан
municipality_type             район
municipality             Буздякский
settlement_type                село
settlement           Канлы-Туркеево
location_type
location
street_type                   улица
street                     Школьная
house                       дом 3/1
source                            1
Name: 8539938, dtype: object

In [202]:
val_set.sample(5)

,region_type,region,municipality_type,municipality,settlement_type,settlement,location_type,location,street_type,street,house,source
5480269,область,Свердловская,,,город,Ирбит,,,улица,Полины Осипенко,дом 42,1
5008736,область,Ростовская,район,Верхнедонской,хутор,Песковатская Лопатина,,,улица,Песковатсколопатинская,дом 127,2
4440539,область,Оренбургская,,,город,Кувандык,,,улица,Комарова,дом 3,1
4193414,область,Новосибирская,,,город,Новосибирск,,,улица,Ученическая,дом 17/1,2
7118667,республика,Кабардино-Балкарская,,,город,Нальчик,село,Кенже,улица,Барагунова,дом 31,2

In [204]:
sample_subm = pd.read_csv(SAMPLE_SUB_PATH, encoding='windows-1251')

In [134]:
sample_subm.columns[11:]

Index(['source'], dtype='object')

In [206]:
val_set['house'].isna().sum()

0

In [209]:
import numpy as np
precisions = []
recalls = []
for column in tqdm(sample_subm.columns):
    sol = val_set[column].tolist()  # сюда нужно передать таблицу с ответом алгоритма
    ans = df[column].tolist()

    count = len(sol)

    tp = 0 #правильно заполненная
    fp = 0 #пустая, но чем-то заполненная
    fn = 0 #ложно пустая
    tn = 0 #правильно пустая

    for i in range(count):
        if sol[i] == ans[i]:
            if sol[i] == '':
                tn += 1
            else:
                tp += 1
        elif sol[i] == '':
            fp += 1
        else:
            fn += 1

    if tp == 0:
        prec = 0
        rec = 0
    else:
        prec = tp / (tp + fp)
        rec = tp / (tp + fn)

    precisions.append(prec)
    recalls.append(rec)

prec = np.mean(precisions)
rec = np.mean(recalls)
score = 2 * prec * rec / (prec + rec)

print(f"{score:.2f} OK")

100%|███████████████████████████████████████████████████████████████████████████████████| 12/12 [00:26<00:00,  2.20s/it]

0.85 OK

In [210]:
pd.DataFrame(sample_subm.columns, precisions)

                          0
1.000000             region
1.000000        region_type
0.592670       municipality
0.592670  municipality_type
0.962487         settlement
0.962462    settlement_type
0.187581           location
0.195106      location_type
0.833144             street
0.833144        street_type
1.000000              house
1.000000             source